version: '3'
services:
  db:
    image: postgres
    ports:
      - 55432:5432
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres

  redis:
    image: redis
    ports:
      - 56379:6379

  plunk:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - 4000:4000
    env_file:
      - .env
    